<form (submit)="addEntreprise()" [formGroup]="entrepriseForm" autocomplete="off" action="" method="post" class="col-lg-12 col-xs-12 form">
    <section class="panel panel-primary shadow m-t animated">
        <div class="panel-heading b-3x b-b">
            <div class="row clearfix">

                <div class="form-group col-lg-4 col-md-4 col-xl-12">
                    <label class="text-white"><strong> Nom Entreprise *</strong></label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="i i-user2"></i></span>
                        <input formControlName="NomEntreprise" required type="text" class="form-control input-lg" placeholder="Nom">
                    </div>
                </div>
                <div class="form-group col-lg-4 col-md-4 col-xl-12">
                    <label class="text-white"><strong> Adresse *</strong></label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="i i-user2"></i></span>
                        <input formControlName="Adresse" required type="text" class="form-control input-lg" placeholder="Adresse">
                    </div>
                </div>
                <div class="form-group col-lg-4 col-md-4 col-xl-12">
                    <label class="text-white"><strong> Abonnement *</strong></label>
                    <div class="input-group form-control">
                        <ng-multiselect-dropdown required [placeholder]="'Abonnements salle gym'" [data]="dropdownList" formControlName="AbonnementId" (onSelect)="openDialogFin($event,0)" (onDeSelect)="openDialogFin($event,1)" [settings]="dropdownSettings">
                        </ng-multiselect-dropdown>
                    </div>
                </div>
            </div>
        </div>


        <div class="panel panel-body">
            <div class="row clearfix">
                <section class="scrollable">
                    <div class="wrapper">

                        <section class="panel bg-primary lt">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-4 col-xs-12">
                                        <div class="form-group col-lg-6 col-md-6 col-xl-12">
                                            <label class="text-white"><strong>Nom *</strong></label>
                                            <div class="input-group m-b">
                                                <span class="input-group-addon"><i class="i i-user2"></i></span>
                                                <input [(ngModel)]="personne.Nom" [ngModelOptions]="{standalone: true}" required type="text" class="form-control" placeholder="Nom">
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-6 col-md-6 col-xl-12">
                                            <label class="text-white"><strong>Prenom *</strong></label>
                                            <div class="input-group m-b">
                                                <span class="input-group-addon"><i class="i i-user2"></i></span>
                                                <input [(ngModel)]="personne.Prenom" [ngModelOptions]="{standalone: true}" required type="text" class="form-control" placeholder="Prenom">
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-6 col-md-6 col-xl-12">
                                            <label class="text-white"><strong> Sexe *</strong></label>
                                            <div class="input-group m-b">
                                                <span class="input-group-addon"><i class="fa fa-male"></i><i class="fa fa-female"></i></span>
                                                <select [(ngModel)]="personne.Sexe" [ngModelOptions]="{standalone: true}" required class="form-control" placeholder="Sexe">
                                                    <option value="Masculin">Masculin</option>
                                                    <option value="Feminin">Feminin</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group col-lg-6 col-md-6 col-xl-12">
                                            <label class="text-white"><strong>Téléphone </strong></label>
                                            <div class="input-group m-b">
                                                <span class="input-group-addon"><i class="i i-phone3"></i></span>
                                                <input (change)="CheckTelephone(personne.Telephone)" [(ngModel)]="personne.Telephone" [ngModelOptions]="{standalone: true}" required type="text" class="form-control" placeholder="Téléphone">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 text-center">
                                            <div class="padder-v">
                                                <button class="btn btn-info b-white b-2x bg-gym shadow" (click)="addPersonne()">
                                                    <span class="m-b-xs h3 block text-white">
                                                        <i class="i i-user3"></i></span> <small class="text-white-50">Ajouter l'employé</small>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-xs-12 b-l b-2x b-info m-t ">
                                        <section class="panel panel-info animated fadeInLeftBig ">
                                            <div class="panel-heading ">La liste des employes</div>
                                            <div class="panel-body " *ngIf="mesEmploye != undefined && mesEmploye.data.length> 0">
                                                <div class="table-responsive">
                                                    <div class="mat-elevation-z8">
                                                        <table mat-table [dataSource]="mesEmploye" class="table table-bordered">

                                                            <ng-container matColumnDef="nom">
                                                                <th mat-header-cell *matHeaderCellDef> Nom </th>
                                                                <td mat-cell *matCellDef="let element"> {{element.Nom}} </td>
                                                            </ng-container>

                                                            <ng-container matColumnDef="prenom">
                                                                <th mat-header-cell *matHeaderCellDef> Prenom </th>
                                                                <td mat-cell *matCellDef="let element"> {{element.Prenom}} </td>
                                                            </ng-container>

                                                            <ng-container matColumnDef="telephone">
                                                                <th mat-header-cell *matHeaderCellDef> Telephone </th>
                                                                <td mat-cell *matCellDef="let element"> {{element.Telephone}} </td>
                                                            </ng-container>

                                                            <ng-container matColumnDef="sexe">
                                                                <th mat-header-cell *matHeaderCellDef> Sexe </th>
                                                                <td mat-cell *matCellDef="let element"> {{element.Sexe}} </td>
                                                            </ng-container>
                                                            <ng-container matColumnDef="actions">
                                                                <th mat-header-cell *matHeaderCellDef> Actions </th>
                                                                <td mat-cell *matCellDef="let element" class="b b-1 b-r m-l">
                                                                    <button (click)="deleteEmploye(element)" routerLinkActive="router-link-active" class="btn btn-info" type="button">
                                                                   <i class="i i-eye"></i>
                                                                </button>
                                                                </td>
                                                            </ng-container>

                                                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                                        </table>
                                                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                                                    </div>
                                                </div>
                                            </div>
                                            <ng-template #templateAbonne>
                                                <div class="panel-body text-center">
                                                    <img class="img-thumbnail" width="50" height="50" src="./assets/images/Blocks-1s-200px.gif" alt="En chargement..." />
                                                </div>
                                            </ng-template>
                                        </section>
                                    </div>
                                </div>
                            </div>
                            <footer class="panel-footer text-center b-t b-1x b-info">
                                <div class="row pull-out">
                                    <div class="col-xs-12 text-center">
                                        <div class="padder-v">
                                            <button type="submit" [disabled]="!entrepriseForm.valid" class="btn btn-info b-white b-2x bg-gym shadow">
                                                <span class="m-b-xs h3 block text-white">
                                                    <i class="i i-users3"></i></span> <small
                                                class="text-white-50 text-break">Valider</small> 
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </footer>
                        </section>

                    </div>
                </section>
            </div>
        </div>
    </section>
</form>